p {color: #0D91A1;
background: #015668;
padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  width: 300px;
  border: 5px;#7DCE94;
  border-style: solid;
  border-left-color: orange;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}